:root {
  --yellow: #FFFA75;
  --pink: #FF74A0;
}

body {
  background-color: var(--yellow);
  color: var(--pink);
}

svg {
  fill: currentColor;
  width: 25px;
  height: 25px;
}

.icon {
  color: var(--pink);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  border-color: var(--pink);
  border-style: solid;
  font-size: large;
  color: var(--pink);
}

.infolink {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
